<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flynparkmelb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlynParkMelb"
        tools:replace="android:appComponentFactory">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--  The API key for Google Maps-based APIs.  -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmAUAFDmXOW4AXOxepB5KdSwq1ps61pyU" />

        <activity
            android:name=".MainDashboardActivity"
            android:label="@string/title_activity_main_dashboard"
            android:theme="@style/Theme.FlynParkMelb.NoActionBar"/>
        <activity android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>